<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SharpTestsEx" version="1.1.1" />
  <package id="NUnit" version="2.5.10.11092" />
  <package id="Simple.Data.Core" version="0.6.8" />
  <package id="Simple.Data.Ado" version="0.6.8" />
  <package id="Simple.Data.SqlServer" version="0.6.8" />
</packages>