<header>
    <a href="/">
        <img src="/Images/Logo.jpg" alt="Logo" /></a>
    <h1>Welcome to CQRSBucks.</h1><h2>Join us for a cup.</h2>
    <ul>
        <li><a href="/">ORDER HERE</a>Skip the line.</li>
        <li><a href="/Menu">MENU</a>Our stuff</li>
        <li><a href="/OtherStuff">OTHER STUFF</a>It's great stuff!</li>
        <li><a href="/MoreStuff">MORE STUFF</a>Wow. More stuff!</li>
        <li><a href="/Careers">CAREERS</a>Money. Money. Money.</li>
    </ul>
</header>
