{{tmpl '#header'}}
<div id="content">
    <ul>
        {{each(i,item) Items}}
        <li>${item.Name} - ${formatCurrency(item.Price)}</li>
        {{/each}}
    </ul>
    <ul class="pageLinks">
        <li>Page</li>
        {{each(i, pageNumber) pageIndexer(PageCount)}} {{if (pageNumber == PageNumber)}}
        <li>${pageNumber}</li>
        {{else}}
        <li><a href="?pageNumber=${pageNumber}">${pageNumber}</a></li>
        {{/if}} {{/each}}
    </ul>
</div>
{{tmpl '#footer'}} 