@{
    Html.ReferenceTemplate("template","Templates/Menu/Index.tmpl.html");
    Html.ReferenceScript("Scripts/Menu/Index/Index.js");
}
<div data-bind="template: 'template'">
    Please wait. Loading.
</div>