{{tmpl '#header'}}
<div id="content">
    <img src="/Images/BaristaAmericanGothic.jpg" class="wrapText" alt="Barista American Gothic" />
    <p>
        Baristas generally operate a commercial espresso machine; the three most common
        types are manual, semi automatic or automatic. A manual machine involves pulling
        a lever to push the water through the ground coffee. A semi-automatic uses an electric
        pump to push the water through the coffee grounds, but the barista has to stop the
        flow of espresso using an on\off switch or button. An automatic machine will turn
        on and off after a preset amount of water has been pushed through the grounds. The
        barista usually has been trained to operate the machine and to prepare the coffee
        based on the guidelines of the roaster or shop owner.</p>
    <p>
        The role of a barista is to acquire knowledge of the entire process of coffee to
        effectively prepare a desired cup of coffee. This knowledge includes the correct
        operation, maintenance and programming of the machine, grinding and tamping methods,
        extraction times, water temperature and quality, micro milk frothing, free pouring,
        latte art, roasting, coffee plant cultivation, drying methods, correct storage,
        renewable methods of disposal, recycling of the coffee and packaging used.</p>
    <p>
        A barista can acquire these skills by attending barista training classes or on-the-job
        training.</p>
    <p>
        CC-BY-SA <a href="http://en.wikipedia.org/wiki/Barista">Wikipedia</a></p>
</div>
{{tmpl '#footer'}}